[submodule "doc"]
path = doc
url = https://github.com/CareerSpeak/doc
branch = final
[submodule "spellcheck"]
path = spellcheck
url = https://github.com/CareerSpeak/spellcheck
branch = languagetool
[submodule "backend"]
path = backend
url = https://github.com/CareerSpeak/backend
branch = main
[submodule "frontend"]
path = frontend
url = https://github.com/CareerSpeak/frontend
branch = main
[submodule "recommender"]
path = recommender
url = https://github.com/CareerSpeak/recommender
branch = main
[submodule "paraphraser"]
path = paraphraser
url = https://github.com/CareerSpeak/paraphraser
branch = pretrained
[submodule "database"]
	path = database
	url = https://github.com/CareerSpeak/database
[submodule "technical_interview"]
	path = technical_interview
	url = https://github.com/CareerSpeak/technical_interview
[submodule "hr_interview"]
	path = hr_interview
	url = https://github.com/CareerSpeak/hr_interview
[submodule "transcriber"]
	path = transcriber
	url = https://github.com/CareerSpeak/transcriber
